*, ::before, ::after{
    border-style: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;

}

/* Main */
h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    height: 70px;
    width: 100%;
}

/* Navigation */
.navbar{
    background: lightpink;
    height: 70px;
    width: 100%;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    display: flex;
    align-items: center;
    color: black;
    margin: 30px auto;

}
.champ-recherche{
    margin: auto;
}

.navbar ul li a{
    margin: 0 20px;
}

#rechercher{
    width: 20vh;
    margin: 0 10px;
    padding: 2px;
}

button{
    padding: 2px 5px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* Main */
main{
    height: 300px;
    margin: 50px 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.left-section{
    padding: 10px;
    border-radius: 8px;
    background: #333;
    color: white;
}
.left-section-sous-section h3{
    margin-top: 30px;
}
.left-section-sous-section p{
    margin-top: 10px;
}

.right-section{
    padding: 10px;
    background: lightpink;
    border-radius: 8px;
}
h2{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 30px;
}
.right-section ul li{
    list-style-type: none;
    margin: 20px auto;

}
.right-section ul li a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

/* Footer */

footer{
    border-top: 1px solid #333;
    position: absolute;
    width: 100%; 
    height: 50px;
    bottom: 0; left: 0; right: 0;
    text-align: center;
    /* padding: 10px 0; */
    justify-content: center;
}
footer p{
    margin-top: 15px;
}